.App {
  height: 100vh;
}
.container {
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 20px;
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 912px;
}
